/*
CSS rules to specify families

font-family: 'Bubblegum Sans', cursive;
font-family: 'Carter One', cursive;
font-family: 'Goldman', cursive;
font-family: 'Marck Script', cursive;
font-family: 'Merienda', cursive;
font-family: 'Oregano', cursive;
font-family: 'Sirin Stencil', cursive;
*/
